<!DOCTYPE html>
<html>
<head>
	<title>@ViewData["Title"] - SaaS</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/orders.css">
	<link rel="stylesheet" href="/css/product.css">
	<link rel="stylesheet" href="/css/customers.css">
	<link rel="stylesheet" href="/css/reports.css">
	<link rel="stylesheet" href="/css/whatsappinbox.css">
	
</head>
<body>
	<div class="dashboard-wrapper">
		<aside class="sidebar">
			<div class="logo">
				<img src="~/images/logo.png" alt="Logo" />
			</div>
			<nav>
				<ul id="sidebar-nav">
					<li data-page="/Orders"><i class="fas fa-chart-line"></i> Order Dashboard</li>
					<li data-page="/Products"><i class="fas fa-box-open"></i> Products</li>
					<li data-page="/Customers"><i class="fas fa-users"></i> Customers</li>
					<li data-page="/Reports"><i class="fas fa-file-alt"></i> Reports</li>
					<li data-page="/WhatsAppInbox"><i class="fas fa-comments"></i> WhatsApp Inbox</li>
				</ul>
			</nav>
		</aside>

		<main class="main-content">
			@RenderBody()
		</main>
	</div>
	<></>
	<script src="/js/orders.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/products.js"></script>
	<script src="/js/customers.js"></script>
	<script src="/js/reports.js"></script>
	<script src="/js/whatsAppInbox.js"></script>
</body>
</html>